<div class="mdl-cell mdl-cell--7-col-desktop mdl-cell--7-col-tablet mdl-cell--4-col-phone">
  <base-card>
    <base-card-title>
      <h5 class="mdl-card__title-text text-color--white">Satellites</h5>
    </base-card-title>
    <base-card-body>
      <form class="form form--basic">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone form__article">
            <h3 class="text-color--smooth-gray">EDIT SATELLITES</h3>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
              <input class="mdl-textfield__input" id="first-satellite" type="text" id="first-satellite-name">
              <label class="mdl-textfield__label" for="first-satellite-name">Satellite #1 Name</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
              <input class="mdl-textfield__input" id="second-satellite" type="text" id="second-satellite-name">
              <label class="mdl-textfield__label" for="floating-last-name">Satellite #2 Name</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
              <input class="mdl-textfield__input" id="third-satellite" type="text" id="third-satellite-name">
              <label class="mdl-textfield__label" for="third-satellite-name">Satellite #3 Name</label>
            </div>
          </div>
        </div>
      </form>
    </base-card-body>
  </base-card>
</div>