  <base-card class="Power">
   <base-card-title>
    <h2 class="mdl-card__title-text">Power Supply</h2>
   </base-card-title>
    <base-card-body expanded>
      <h5>Power: 0.00kW / 35.23kw (7day rolling average)</h5>
      <h5>Usage: 0.00% / 17.61%</h5>
      <h5>Used kWh 105,69 last 7 days</h5>
      <br><br>
      Type: Kempower C-Series<br>
        Power: 2 x 100kW<br>
        Serialnumber: C1234567<br>
        <small>Firmware version: 1.1.0</small>
    </base-card-body>
  </base-card>

  <base-card class="Satellite">
    <base-card-title>
      <h1 class="mdl-card__title-text">Satellites</h1>
    </base-card-title>
    <base-card-body>
      <ul class="mdl-list">
        <li *ngFor="let item of data; let i = index" class="mdl-list__item mdl-list__item--two-line">
          <span class="mdl-list__item-primary-content">
            <div class="mdl-list__item-avatar">
              <img width="100%" src="assets/images/{{ item.image }}">
            </div>
            <span>{{ item.name }}</span>
            <span class="mdl-list__item-sub-title">Type: {{ item.stype }} </span>
            <span class="mdl-list__item-sub-title">Max Power: {{ item.maxpower }}kWh</span>
            <span class="mdl-list__item-sub-title">Firmware: version {{ item.fwversion }}</span>
            <span class="mdl-list__item-sub-title">Connector: {{ item.connector }}</span>
            <span class="mdl-list__item-sub-title">Serialnumber: {{ item.serial }}</span>
          </span>
          <span class="mdl-list__item-secondary-content">
            <span class="mdl-list__item-secondary-action">Current: {{ item.powernow }}kWh/ 7d avg{{item.poweravg}}kWh</span>
            <span class="mdl-list__item-secondary-action">Usage: {{ item.usage }} %/ 7d avg {{item.usageavg}}%</span>
            <span class="mdl-list__item-secondary-action">Used: {{ item.used }}kWh/ 7d avg {{item.usedavg}}kWh</span>
            <span class="mdl-list__item-secondary-action">Free: {{ item.free }}%/Charging: {{item.charging}}%/Idle: {{item.idle}}%</span>
            <span class="mdl-list__item-secondary-action">Car charging: {{ item.car }}/ SOC current {{item.soccurrent}}%</span>
          </span>
        </li>
      </ul>
    </base-card-body>
  </base-card>
